.tech {
  width: 50vw;
}

.developer {
}

.techHeader {
  width: 50vw;
}

.developerHeader {
}

.row {
  display: flex;
  border-top: 1px lightgray solid;
  height: 36px;
  align-items: center;
  font-size: larger;
}

.rowHeader {
  display: flex;
  background-color: lightgray;
  height: 36px;
  align-items: center;
  font-weight: bold;
}

.loading {
}
