.App {
  --header_height: 60px;
}

.hw {
  padding: 24px 0;
  border-top: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
}

.hwTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 0 70px;


  @media (max-width: 1023px){
    padding: 0 35px;
  }

  @media (max-width: 768px){
    padding: 0 17px;
  }
}
