.App {
  --header_height: 60px;
}

.hw {
  padding: 24px 70px;
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

.hwTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 40px 70px 0;
}

/* @media (max-width: 1023px) {
    padding: 0 35px;
  }

  @media (max-width: 768px) {
    padding: 0 17px;
  } */
