.sendForm {
  display: flex;
  gap: 44px;
}

.textarea {
  flex: 1;
  padding: 10px 24px;
  border: 1px solid #e1e3e9;
  border-radius: 20px;
  font-family: inherit;
  font-size: 14px;
  resize: none;
  background: #f5f7fb;
  overflow-y: hidden;
}

.textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #00000099;
  opacity: 0.6;
}

.textarea:focus {
  outline: none;
  border-color: #0066cc;
}

.button {
  background: #3369f3;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 39px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
}

.button:hover {
  background: #0e54ff;
  transform: translateY(1px);
}

.button:active {
  background: #5689ff;
  transform: translateY(0);
}
